.navbar-collapse {
    position: absolute;
    top: 54px;
    left: 10%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 30%;
    transition: all 0.4s ease;
    display: block;
}
.navbar-collapse.collapsing {
    height: auto !important;
    margin-left: 100%;
    left: 50%;
    transition: all 0.2s ease;
}
.navbar-collapse.show {
    right: 0;
}